@keyframes fade-in{
  from {opacity: 0;}
  to {opacity: 1;}
}
@font-face {
  font-family: Monsterrat;
  src: url('./Assets/Montserrat-Regular.ttf');
}
body{
  font-family: Monsterrat;
  font-size: 20px;
  color:aliceblue;
  background: url('./Assets/img3.png') no-repeat center fixed;
}
/* paragraph*/
.p-1, .p-2{
  font-size: 1rem;
}

.container{
  width: 100%;
}
.nav{
  padding: 1rem;
  margin: .5rem auto;
  background-color: rgba(49, 49, 83, 0.651);
  width: 100%;
  position: fixed;
  
}
.link, a{
  margin: 2rem;
  padding: 1rem;
  user-select: none;
}
.link:hover{
  border-bottom: 1px solid white;animation: fade-in 200ms ease-in;
}

h1, p, .link-1{
  text-shadow: 1px 1px 5px  hsl(245, 85%, 8%);
  user-select: none;
}
.sections{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .sections{flex-direction: column;}
}

.section-1,
.section-2,
.section-3{
  margin: 5rem auto;
  background-color: rgba(25, 61, 85, 0.527);
  width: 100%;
}


.text-1, .text-2{
  padding: 3rem;
  margin: 3rem auto;

}
.images{
  display: flex;
  flex-direction: row;
}
.text-3{
  margin: 5rem auto;
  margin-left: 3rem;
}
.img-1, .img-2, .img-3{
  margin: 2rem auto;
  width: 30%;
  box-shadow: 1px 1px 5px hsl(245, 85%, 8%);
}
.img-4{
  margin: 1rem auto;
  width: 60%;
}
@media screen and (max-width: 600px){
  .text-2{
    margin: 1rem;
  }
  .link, a{
    font-size: 1rem;
    padding: 0.4rem auto;
    user-select: none;
  }

  .text-1{
    margin: 1rem;
  }
  .section-2{
    margin-top: 3rem;
  }
  .img-1, .img-2, .img-3{
    width: 100%;
  }
  .images{
    flex-direction: column;
  }
  .img-4{
    width: 100%;
  }
  .text-3{
    margin: 0 auto;
  }

}
.link-1{
  width: 10%;
  display: flex;
  margin: 1rem;
  color: aliceblue;
  text-decoration: none;
}